.portada {background-color: black;}
.portada #foto {}
.portada h1 {font-size: 90%; text-align: center; color: white;}
.portada #logo {text-align: center;}

p.comentario {margin-bottom: 1em;}

.ui-page {color: white; background: #950054; text-shadow: none !important;}

.ui-header {left: 0; top: 0; height: 50px; right: 0; position: fixed;}
.ui-content {left: 0; top: 50px; bottom: 50px; right: 0; position: fixed; overflow-y: auto;}
.ui-footer {left: 0; bottom: 0; height: 50px; right: 0; position: fixed;}

.ui-link {text-align: left;}
.ui-link {
	background: #f9c667; /* Old browsers */
	background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f9c667 0%,#f79621 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f9c667 0%,#f79621 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
}

.ui-footer {text-align: center;}

.fecha {padding-right: 1em; font-size: 0.6em; font-style: italic; color: #950054;}
.telefono {margin-left: 1em;}

  #fotosul {position: relative; height: 230px; margin: 0 -1em 1em -1em; text-align: center; color: white; background-color: black;}
  #fotosul li {position: absolute; top: 1em; left: 0; width: 100%; overflow: hidden; background-color: rgba(0, 0, 0, 0);}
  #fotosul li img {position: relative; max-width: 100%; max-height: 200px; width: auto; height: auto; background-color: rgba(0, 0, 0, 0);}
  #fotosul li span {display: block; font-size: 0.9em; padding-top: 1em;}
  #fotosul .selected {z-index: 1; opacity: 1; -webkit-transition: all 2s ease; transition: all 2s ease;}
  #fotosul .noselected {z-index: 0; opacity: 0; -webkit-transition: all 1s ease; transition: all 1s ease; visibility: hidden;}
  #datos p {padding: 0.3em 0;}
  .descripcion {text-align: justify; font-style: italic;}
  .coordenadas {display: none;}
  .share {margin-top: 1em; padding: 1em; text-align: center; border: 1px solid black;}
  .share li {display: inline-block; padding-left: 1em;}
  #cargando {position: relative; top: 200px;}
  #ficha .ui-listview>li p {padding-left: 20px;}
  
  
