<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.villarrobledo.turismo" versionCode="1.0.0" version="1.0.0" >
	<name>Villarrobledo Turismo</name>
	<description>Información turística de Villarrobledo</description>
	<author href="http://www.villarrobledo.com" email="villarrobledo.com@gmail.com">Juan Carlos Santos Ballesteros</author>
	<plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />
  <plugin name="org.apache.cordova.network-information" spec="0.2.15" source="pgb" />
	<plugin name="org.apache.cordova.dialogs" spec="0.3.0" source="pgb" />
	<plugin name="com.phonegap.plugins.pushplugin" spec="2.1.1" source="pgb" />
  <access origin="*" />
	<preference name="phonegap-version" value="" />
	<preference name="orientation" value="portrait" />
	<preference name='android-targetSdkVersion' value='14'/>
	<preference name='android-minSdkVersion' value='14'/>
	<preference name='android-build-tool' value='gradle'/>
	<gap:platform name="android" />
</widget>
